

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.recipe-feedback {

}

.btn {
  margin-right: 10px;
}

.add-comment {
  margin-top: 20px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

/* recipe-detail styles */
.recipe-container{

}
.recipe-detail {
  margin: 20px;
  /* max-width: 800px; */
  width: 100%;
}
.recipe-heading{
  font-size: 2.5rem;
  font-weight: 700;
}
.image-info-card{
  width: 100%;
}
.post-card{
  /* width: 60%; */
background-color: var(--cream); 
border-radius: 10px; 
}

.time-container{
background-color: var(--cream);
border-radius: 20px;
}

.recipe-image {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.recipe-info p {
  margin: 10px 0;
}


  