:root{
    --red: #e43d12;
    --rose: #d6536d;
    --pink: #ffa2b6;
    --yellow: #efb11d;
    --cream: #ebe9e1;
    --black: #000000;
    --white: #ffffff;
  }

.start-container{
    height: 90vh;
  }

  .create-cat-heading{
    color: var(--rose);
  }

  .group-create-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cream);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
  }