
<footer>
    <div class="container-fluid footer-container py-5 mt-5">
        <div class="row d-flex justify-content-between">
            <div class="col-4">
                <h2 class="footer-heading">About Cuisine Cherie</h2>
                <p class="about-text">Cuisine Cherie is a platform where all can come together and share the joy and love for food.</p>
            </div>
            <div class="col-4 contact-section">
                <div class="contact-item">
                    <i class="fa-regular fa-envelope"></i>
                    <span>cuisinecherigmail.com</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Winjit Technologies, Satpur Colony, Nashik, Maharashtra 422007</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-clock"></i>
                    <span>Hours: Open ⋅ Closes 6:30 pm</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <span>Phone: 0253 663 3999</span>
                </div>

            </div>
        </div>
    </div>
</footer>
