<div class="cooking-time d-flex justify-content-between p-2">
  <span class="card-text">{{recipe.cooking_time}} m</span>
  <div class="span ps-1"><i class="fa-regular fa-clock" style="color: #d6536d;"></i></div>
  <!-- <p >{{ recipe.cooking_time }}</p> -->
</div>
<div class="card">
  
  
  <a (click)="viewDetails()" style="cursor: pointer;">
    <img [src]="getImageUrl(recipe.image_path)" class="card-img-top" alt="Recipe Image">
  </a>
    <div class="card-body">
      <h5 class="card-title">{{ recipe.recipe }}</h5>
      
      <p class="card-text">{{ recipe.username }}</p>
    </div>
  </div>
  
