/* src/app/group-create/group-create.component.css */
:root{
  --red: #e43d12;
  --rose: #d6536d;
  --pink: #ffa2b6;
  --yellow: #efb11d;
  --cream: #ebe9e1;
  --black: #000000;
  --white: #ffffff;
}
.start-container{
  height: 90vh;
}
.group-create-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cream);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .create-cat-heading{
    color: var(--rose);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btn {
    /* background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
    font-weight: 500;
    background-color: var(--pink);
    border-color: var(--pink);
    border-radius: 0;
  }
  .btn:hover{
    background-color: var(--rose);
    font-weight: 700;
 
  }
  
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .text-danger {
    color: #d9534f;
    font-size: 12px;
  }
  