
<div *ngIf="isAuthenticated">
    <div class="container-fluid home-container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <form>
                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Search your favorite recipes here!">
                        <button class="search-button">
                          <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="search-icon" class="search-icon">
                        </button>
                      </div>
                </form>
                <div class="row">
                    <div class="col-md-4 video-container">
                        <video autoplay muted loop class="background-video">
                            <source src="https://videos.pexels.com/video-files/9207047/9207047-sd_360_450_25fps.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="col-md-4 video-container">
                        <video autoplay muted loop class="background-video">
                            <source src="https://videos.pexels.com/video-files/6824077/6824077-sd_360_640_30fps.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="col-md-4 video-container">
                        <video autoplay muted loop class="background-video">
                            <source src="https://videos.pexels.com/video-files/9207045/9207045-sd_360_450_30fps.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
        
                </div>
         
                
            </div>
        </div>
        <!-- <div class="row mt-5">
            <div class="col-xs-12 text-center mt-4">
                <h3>Welcome to Recipe Haven!</h3>
                <div class="mx-5 px-5">
                    <p class="mx-5 px-5 mt-2">Unleash your inner chef with Recipe Haven! Whether you're a pro in the kitchen or a novice, our vast collection of recipes caters to every taste. Discover culinary delights, craft unforgettable dishes, and connect with food lovers worldwide. Ignite your culinary creativity today!</p>
                </div>
            </div>
        </div> -->
    </div>
    
    <div class="">
      
        <app-group-list></app-group-list>
         
    </div>
</div>
<div *ngIf="!isAuthenticated">
    <div class="container-fluid home-container">
        <div class="row pt-5">
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 text-center mt-4">
                <h3>Welcome to Recipe Haven!</h3>
                <div class="mx-5 px-5">
                    <p class="mx-5 px-5 mt-2">Unleash your inner chef with Recipe Haven! Whether you're a pro in the kitchen or a novice, our vast collection of recipes caters to every taste. Discover culinary delights, craft unforgettable dishes, and connect with food lovers worldwide. Ignite your culinary creativity today!</p>
                </div>
            </div>
        </div>
    </div>
</div>

