<!-- <div class="container mt-4">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div>
            <h2 class="card-title">{{ group.name }}</h2>
          </div>
          <button class="btn btn-primary" type="button" (click)="toAddRecipe()">
            <i class="bi bi-plus-circle me-2"></i> New Recipe
          </button>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTojWQ7KLh8l4Oein2ejKCOYwUM_NDSDOGvtQ&s"
              class="img-fluid rounded shadow-sm"
              alt="{{ group.name }}"
            />
          </div>
          <div class="col-md-8">
            <p>{{ group.description }}</p>
          </div>
        </div>
        <hr>
        <div class="group-actions mt-4">
          <button class="btn btn-outline-secondary me-2">
            <i class="bi bi-pencil-square me-1"></i> Edit Category
          </button>
          <button class="btn btn-outline-danger" type="button" (click)="deleteGroup(group.id)">
            <i class="bi bi-trash-fill me-1"></i> Delete Category
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5 mt-5">
    <app-recipe-list [recipes]="publicRecipes"></app-recipe-list>
  </div>
   -->
   <!-- <div class="container mt-4">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div>
            <h2 class="card-title">{{ group.name }}</h2>
          </div>
          <button class="btn btn-primary" type="button" (click)="toAddRecipe()">
            <i class="bi bi-plus-circle me-2"></i> New Recipe
          </button>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTojWQ7KLh8l4Oein2ejKCOYwUM_NDSDOGvtQ&s"
              class="img-fluid rounded shadow-sm"
              alt="{{ group.name }}"
            />
          </div>
          <div class="col-md-8">
            <p>{{ group.description }}</p>
          </div>
        </div>
        <hr />
        <div class="group-actions mt-4">
          <ng-container *ngIf="isUserAllowed">
            <button class="btn btn-outline-secondary me-2" (click)="editGroup()">
              <i class="bi bi-pencil-square me-1"></i> Edit Group
            </button>
            <button
              class="btn btn-outline-danger"
              type="button"
              (click)="deleteGroup(group.id)"
            >
              <i class="bi bi-trash-fill me-1"></i> Delete Group
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  
  <div class="pt-5 mt-5">
    <app-recipe-list [recipes]="recipes"></app-recipe-list>
  </div>
   -->

   <div class="main-container w-75">
    <div class="group-container">
      <h1 class="group-name">{{ group.name }}</h1>
      <p class="group-description">{{ group.description }}</p>
  
      <div class="d-flex justify-content-between align-items-end add-edit">
        <div class="quote-add-recipe">
          <p class="quote">"Pass on your culinary secrets, one recipe at a time."</p>
          <button class="btn add-recipe-btn" (click)="toAddRecipe()">
            <i class="bi bi-plus-circle me-2"></i> New Recipe
          </button>
        </div>
        <div class="group-actions">
          <ng-container *ngIf="isUserAllowed">
            <a class="" (click)="editGroup()" style="cursor: pointer;">
              <i class="fa-regular fa-pen-to-square" style="color: #d6536d;"></i>
            </a>
            <a class="" (click)="deleteGroup(group.id)" style="cursor: pointer;">
              <i class="fa-solid fa-trash" style="color: #d6536d;"></i>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  
    <div class="recipes-container">
      <app-recipe-list [recipes]="recipes"></app-recipe-list>
    </div>
  </div>